div
  p
    h1 Sign up
  form(method='post', action='/register')

  p
    label User
    input(type='text', name='name')
  p
    label Email
    input(type='text', name='email', id='email')
  p
    label Password
    input(type='password', name='pass', id='newPassword')
  p
    label Confirm Password
    input(type='password', id='confirmPassword')
  p
    button(type="submit") Sign up
div
  a(href='/login') Go back to Login

script(type='text/javascript', src='js/jquery-1.4.2.min.js')
script(type='text/javascript', src='js/jquery.form.js')
script(type='text/javascript', src='js/jquery.validate.js')
script(type='text/javascript', src='js/jquery-ui-1.8.5.custom.min.js')

script

  $('#newPassword').change(function(){
    checkPasswordMatch();
  });

  $('#confirmPassword').change(function(){
    checkPasswordMatch();
  });

  $('#email').change(function() {
    validateEmail();
  });

  function checkPasswordMatch() {
    var password = $('#newPassword').val();
    var confirmPassword = $('#confirmPassword').val();

    if(password != confirmPassword) {
      alert('Passwords do not match')
      return false
    } else {
      alert('Correct')
      return true;
    }
  }

  function validateEmail() {
    var value = $('#email').val();
    if (/^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/.test(value))  {
      return true;
    }
    else {
      alert('Non valid email');
      return false;
    }
  }
